#layer1 {
    /* background-color: #fc0; Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
    height: 20px;
   }
#layer2 {
    /* background-color: #5ee259;  */
    padding: 5px;
    width: 200px; /* Ширина слоя */
    height: 20px;
    float: right; /* Обтекание по правому краю */
   }
#layer3{
    height: 20px;
}
#wrapper {
width:450px;
}